*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.hero{
  
  overflow-x: hidden;
}
.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.945); /* Replace with your desired background color */
    z-index: -1;
  }

  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  .bounce {
    animation: bounce 0.5s infinite;
  }